/* ------------- Mobile MODE ------------- */
@media only screen and (max-width:500px) {

    /*TABLET MODE 601x962 */
    /*MOBILE MODE 360x640 - 414x896 */
    /*DESKTOP MODE 1024X768 - 1920X1080 */

    h2 {
        text-align: center;
    }

    .tabDescRow h2 {
        text-align: left;
    }


    .ImageSection {
        display: none;
    }

    h5 {
        margin-top: -20px;
    }

    #bodyBox {
        height: 710px;
        margin: 30px 150px 0px 0px;
        padding: 90px 0px 60px 0px;
        background-image: url("./media/my.jpg");
    }

    .hide,
    #navBox {
        max-width: 130px !important;
    }


    #navBox {
        margin: 0% 20% 0% 50%;
    }


    .hideIt {
        display: block;
    }

    .bodyCap {
        max-width: 800px;
        margin: 0px 0px 0px -50px;
    }



    /*
.homebtn,
.resumebtn,
.projectsbtn,
.contactbtn {
margin: 0% 400% 0% 50%;
padding: 0% 400% 0% 50%;
}
#navBox {
margin: 0px 0px 0px 50px;
}*/

    .previousCV {
        margin: -60px 0 40px 0;
    }

    .nextCV {
        margin: 40px 0 0px 0;
    }

    #burgerNav {
        display: none;
    }

    .imageBox {
        margin: 750px 0% 0% -290px;
    }

    .informationContent {
        padding: 0px 70px 10px 100px;
        margin: 20px 0px 0px 50px;
        height: 900px;
        /* top right bot left*/
    }

    .deadLinks {
        margin: 20px 0% 0% -40px;
    }




    .overflowingGraphs {
        height: 410px;
    }

    .progress-bar {
        width: 95%;
    }



    #nhbrcDepth,
    #homeProjectDepth,
    #configuratorDepth,
    #showcaseHomeDepth,
    #productDepth,
    #producyDisplayDepth {
        margin: -800px 0 0 -140px;
        width: 500px;
    }


    .mobileProjects {
        height: 640px;
    }

    .projectinfobox1 {
        width: 320px;
        margin-left: -30px;
        text-align: center;
    }

    .slideshow-container {
        width: 350px;
        margin-left: -15px;
    }

    #about p {
        width: 320px;
    }



    .textBtn {
        margin: 40px 0 20px 0;
    }

    .previousTabText,
    .nextTabText {
        position: absolute;
        top: 25%;
        padding-top: 16px;
    }

    .nextTabText {
        margin: -0px 0 0 100px;
    }

    .previousTabText {
        margin: -0px 0 0 -120px;
    }



    #about {
        height: 830px;
        overflow: scroll;
        /* top right bot left*/
    }

    #about::-webkit-scrollbar {
        display: none;
    }

}